extends ../layout
include ../mixins/bool_input.pug

block content
  h2 Disclosures
  hr
  .row
    .col-md-12
      +bool_input('Is this home part of a home owners association?', 'walls', 'Yes', 'No')
  hr
  .row
    .col-md-12
      a.btn.btn-info(href='/listing/' + listingId + '/disclosure/general', type='button') Continue
