extends ../layout

block content
  h2 Disclosures
  hr
  .row
    .col-md-12
      h3 Which of these items will be sold with the house?
      .checkbox
        label
          input(type='checkbox')
          | Range
      .checkbox
        label
          input(type='checkbox')
          | Oven
  hr
  .row
    .col-md-12
      a.btn.btn-info(href='/listing/' + listingId + '/disclosure/inventory/3', type='button') Continue
