extends ../layout

block content
  .right-back-col
  .row
    .col-md-3
      .sidebar-nav
        .navbar(role="navigation")
          .navbar-header
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".sidebar-navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            span.visible-xs.navbar-brand Sidebar menu
          .navbar-collapse.collapse.sidebar-navbar-collapse
            ul.nav.navbar-nav
              li(class=(title == 'Listing') ? 'active': undefined)
                a(href='/listing/' + listingId) Overview
              li(class=(title == 'Disclosures') ? 'active': undefined)
                a(href='/listing/' + listingId + '/disclosures') Disclosures
              li(class=(title == 'Offers') ? 'active': undefined)
                a(href='/listing/' + listingId + '/offers') Offers
                  span.badge 2
    .col-md-8
      .row
        .col-md-12
          h4 Disclosures
          h1.big-q Do you currently live in this property?
          .radio
            label
              input(type='radio', name='current_residence_radio', value='true')
              | Yes
          .radio
            label
              input(type='radio', name='current_residence_radio', value='false')
              | No
          
          p When you sell your house the law requires you to tell potential buyers anything about the house that might affect their decision to buy it.
          p Get ready to look around your property to answer the next few questions.
      hr
      .row
        .col-md-12
          a.btn.btn-info.pull-right(href='/listing/' + listingId + '/disclosures/inventory', type='button') Continue
