extends ../layout
include ../mixins/bool_input.pug

block content
  .right-back-col
  .row
    .col-md-3
      .sidebar-nav
        .navbar(role="navigation")
          .navbar-header
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".sidebar-navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            span.visible-xs.navbar-brand Sidebar menu
          .navbar-collapse.collapse.sidebar-navbar-collapse
            ul.nav.navbar-nav
              li(class=(title == 'Listing') ? 'active': undefined)
                a(href='/listing/' + listingId) Overview
              li(class=(title == 'Disclosures') ? 'active': undefined)
                a(href='/listing/' + listingId + '/disclosures') Disclosures
              li(class=(title == 'Offers') ? 'active': undefined)
                a(href='/listing/' + listingId + '/offers') Offers
                  span.badge 2
    .col-md-8
      .row
        .col-md-12
          h4 Disclosures
          h1.big-q Are there any structural issues in the property?
          p Walk around the house and check if you see anything wrong with the walls, ceilings and floors like cracks.
          +bool_input('Do you see any defects with the interior walls?', 'walls', 'Yes', 'No', true, 'Describe what is wrong in a few words.')
          +bool_input('Do you see any defects with the celings?', 'celings', 'Yes', 'No', true, 'Describe what is wrong in a few words.')
          +bool_input('Do you see any defects with the floors?', 'floors', 'Yes', 'No', true, 'Describe what is wrong in a few words.')
      hr
      .row
        .col-md-12
          a.btn.btn-info.pull-right(id='submit-disclosures', href='#', type='button') Review
