extends ../layout

block content
  h2 Listings
  hr

  .row
    .col-md-12
      a(href='/listing/1', style='color: #000')
        h3 1234 Fake St. San Carlos CA, 94070
    .col-md-6
      a(href='/listing/1', style='color: #000')
        img(src='https://ssl.cdn-redfin.com/photo/8/mbpaddedwide/891/genMid.ML81586891_J.jpg', width='100%')
    .col-md-6
      h5 Asking Price: $1,000,000
  hr
  .row
    .col-md-12
      a(href='/listing/1', style='color: #000')
        h3 1234 Fake St. San Carlos CA, 94070
    .col-md-6
      a(href='/listing/1', style='color: #000')
        img(src='https://ssl.cdn-redfin.com/photo/8/mbpaddedwide/891/genMid.ML81586891_J.jpg', width='100%')
    .col-md-6
      h5 Asking Price: $1,000,000