extends ../layout

block content
  .row
    .col-md-4
      .panel.panel-default
        .panel-body.text-center
          h2 Your Listings
          p You have a listing in progress!
          a(href='/listing/1', type='button') Continue
    .col-md-4
      .panel.panel-default
        .panel-body.text-center
          h2 Market Trends
          p Lets see what's going on in the neighborhood.
    .col-md-4
      .panel.panel-default
        .panel-body.text-center
          h2 Tax Planing
          p Make sure you take all the deductions you deserve!

